:root{
    --color-base-hue: 200;
    --color-danger-hue-offset:180;
    --color-danger-hue: calc(var(--color-base-hue) - var(--color-danger-hue-offset));
    --color-background-dark: #0d1a32;
    --color-background-light: #2a5298;
    --color-text-light: hsl(var(--color-base-hue), 100%, 87%);
}